doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Urban Wildlife web app using iNaturalist database')
    meta(name='author', content='Zhi Hao (David) Chen')
    title Urban Wildlife App
    link(href='/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel='icon', href='../images/icon.png')


body
  div.navbar.navbar-default.navbar-static-top(role='navigation')
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        div
          img#logo(src='../images/icon.png')
          a.navbar-brand(href=toMain) Urban Wildlife
      div.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href=toNew)
              span.glyphicon.glyphicon-plus
              |  Add Entry
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') 
              span.glyphicon.glyphicon-book
              |  Reference
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='/users/reference') Species Names
              li
                a(href='../temp') Maps
              li
                a(href='../temp') Checklist
          li
            a(href=toRecords)
              span.glyphicon.glyphicon-list
              |  Records
          li
            a(href=toProfile)
              span.glyphicon.glyphicon-user
              |  Profile
          li
            a(href='../')
              span.glyphicon.glyphicon-log-out
              |  Logout

  div.container
    div.jumbotron
      div.row
        img.img-rounded.iconpic(src='#{profilepic}')
        h2.welcome Hello, #{userdata.login}
      div#map-canvas
      div.row.voffset50.text-center
        p Dashboard
      div.row
        ul.list-inline.text-center
          li.list-group-item
            div.row.mainIcon
              span.glyphicon.glyphicon-plus
            div.row
              a(href='/users/newrecord') Add record
          li.list-group-item.hidden
            div.row.mainIcon
              span.glyphicon.glyphicon-picture
            div.row
              | Maps // change to local recording seen on a map
          li.list-group-item
            div.row.mainIcon
              span.glyphicon.glyphicon-info-sign
            div.row
              a(href='/users/reference') Species Names
          li.list-group-item
            div.row.mainIcon
              span.glyphicon.glyphicon-list-alt
            div.row
              a(href='/projects') Projects
      div.row.footer
        
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
  script(src='/lib/bootstrap-3.2.0-dist/js/bootstrap.min.js')
  script(src='/javascripts/map.js')
  script(type='text/javascript').
    var map;
    var infowindow = null;
    function initialize() {
      var mapOptions = {
        zoom: 9,
        center: new google.maps.LatLng(43.7, -79.4)
      };

      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

      setMarkers(map, sites);
      infowindow = new google.maps.InfoWindow({
        maxWidth: 400,
        content: "loading..."
      });
    }

    var _mapdata = !{JSON.stringify(mapdata)};

    var sites = [
      ['Mount Evans', 43.7, -79.4, '<p>This is Mount Evans.</p>'+_mapdata.length],
      ['Irving Homestead', 43.9, -79.4, 'This is the Irving Homestead.'],
      ['Badlands National Park', 43.8, -79.4, 'This is Badlands National Park'],
      ['Flatirons in the Spring', 43.6, -79.4, 'These are the Flatirons in the spring.']
    ];

    function setMarkers(map, markers) {
        var temp = [];

        for (var i = 0; i < _mapdata.length; i++){
          var info = '<html>' +
                     '<head>' +
                     '</head>' +
                     '<body>' +
                     '<p>' + _mapdata[i].species_guess + '</p>'+
                     '</body>' +
                     '</html>';

          temp.push([_mapdata[i].species_guess,
                     _mapdata[i].latitude,
                     _mapdata[i].longitude,
                     info]);
        }

        markers = temp;

        for (var i = 0; i < markers.length; i++) {
            var sites = markers[i];
            var siteLatLng = new google.maps.LatLng(sites[1], sites[2]);
            var marker = new google.maps.Marker({
                position: siteLatLng,
                map: map,
                title: sites[0],
                html: sites[3]
            });

            var contentString = "Some content";

            google.maps.event.addListener(marker, "click", function () {
                infowindow.setContent(this.html);
                infowindow.open(map, this);
            });
        }
    }


    google.maps.event.addDomListener(window, 'load', initialize);

