doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Urban Wildlife web app using iNaturalist database')
    meta(name='author', content='Zhi Hao (David) Chen')
    title Urban Wildlife App
    link(href='/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/test.css', rel='stylesheet')
    link(href='/stylesheets/typeaheadjs.css', rel='stylesheet')
    link(rel='icon', href='../images/icon.png')


body
  div.navbar.navbar-default.navbar-static-top(role='navigation')
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        div
          img#logo(src='../images/icon.png')
          a.navbar-brand(href=toMain) Urban Wildlife
      div.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href=toNew)
              span.glyphicon.glyphicon-plus
              |  Add Entry
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') 
              span.glyphicon.glyphicon-book
              |  Reference
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='/users/reference') Species Names
              li
                a(href='/projects') Projects
          li
            a(href=toRecords)
              span.glyphicon.glyphicon-list
              |  My Records
          li
            a(href=toProfile)
              span.glyphicon.glyphicon-user
              |  Profile
          li
            a(href='../')
              span.glyphicon.glyphicon-log-out
              |  Logout

  div.container
    div.jumbotron
      div.row
        a.btn.homecolor(href='/users/main') Back to Home
      h1 Full details for #{observation.species_guess}
      div.row.record
        div.container
          div.row
            div.col-xs-4
                if (observation.latitude != null && observation.longitude != null)
                  img.center-block(src='https://maps.googleapis.com/maps/api/staticmap?center=#{observation.latitude},#{observation.longitude}&zoom=#{observation.map_scale}&size=300x300&maptype=roadmap&markers=color:green%7Clabel:A%7C#{observation.latitude},#{observation.longitude}')
                  p.text-center Nearest city: 
                    b #{observation.place_guess}
                else
                  img.center-block.missingpic(src='/images/defaultmap.png')
            div.col-xs-8.record-info
                h2 #{observation.species_guess}
                p 
                  b ID Number:
                  |  #{observation.id}
                p 
                  b Recorder:
                  |  #{observation.user_login}
                p 
                  b Description:
                  if (observation.description == "")
                    |  None
                  else
                    i  #{observation.description}
                p 
                  b Identification Count:
                  |  #{observation.identifications_count}
                p 
                  b Observed on:
                  if (observation.observed_on == null)
                    |  Unknown
                  else
                    |  #{observation.observed_on}
                p 
                  b Original link: 
                  a(href='#{observation.uri}') iNaturalist link

          div.row.projects
            h3.hoffset10 Projects
            if (observation.project_observations.length == 0)
              p.hoffset30 Not added into any project
            else
              for project in observation.project_observations
                div.col-xs-6.col-sm-3
                  div.row
                    div.col-xs-12
                      if (project.project.icon_url == null)
                        img.img-rounded.profilepic(src='/images/defaultprojects.png')
                      else
                        img.img-rounded.profilepic(src='#{project.project.icon_url}')
                    div.col-xs-12
                      a.linktext.text-center(href='/projects/' + project.project.id) #{project.project.title}

          div.row.photos-toggler
              h3.pull-right Show #{observation.observation_photos_count} Photo(s) 
                span.glyphicon.glyphicon-chevron-down
            div.row.photos-section
              if observation.observation_photos_count == 0
                p.hoffset30 No photos were added to this observation
              else  
                for photo in observation.observation_photos
                  div.col-xs-4.text-center
                    a(href=photo.photo.medium_url)
                      img(src=photo.photo.small_url)
                    ul.list-unstyled
                      li
                        a.linktext(href=photo.photo.small_url) View Small
                      li
                        a.linktext(href=photo.photo.medium_url) View Medium
                      li
                        a.linktext(href=photo.photo.large_url) View Large


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/lib/bootstrap-3.2.0-dist/js/bootstrap.min.js')
  script(type='text/javascript').
    $(document).ready(function(){
      $('.photos-section').hide();
      $('.photos-toggler').click(function()
      {
        $(this).next('.photos-section').slideToggle(600);
      });
    });